In [2]:
import pandas as pd
import numpy as np

Fetching the dataset

In [3]:
df1 = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\IMDB\\Train.csv")

Visualising the data set

In [4]:
df1

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

Let's segregate the dataset in depedent and independent

In [5]:
Xtrain = df1["text"]

In [6]:
ytrain = df1["label"]

In [7]:
df1["text"][0]

'I grew up (b. 1965) watching and loving the Thunderbirds. All my mates at school watched. We played "Thunderbirds" before school, during lunch and after school. We all wanted to be Virgil or Scott. No one wanted to be Alan. Counting down from 5 became an art form. I took my children to see the movie hoping they would get a glimpse of what I loved as a child. How bitterly disappointing. The only high point was the snappy theme tune. Not that it could compare with the original score of the Thunderbirds. Thankfully early Saturday mornings one television channel still plays reruns of the series Gerry Anderson and his wife created. Jonatha Frakes should hand in his directors chair, his version was completely hopeless. A waste of film. Utter rubbish. A CGI remake may be acceptable but replacing marionettes with Homo sapiens subsp. sapiens was a huge error of judgment.'

Here am not gonna split the dataset in train test b'c i have another dataset to test the model score.
So let's transform Xtrain.

In [8]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [9]:
cvec = CountVectorizer()

In [10]:
cvec.fit(Xtrain)

CountVectorizer()

In [11]:
Xtrain_cvec= cvec.transform(Xtrain)

In [12]:
tf =TfidfTransformer()

In [13]:
tf.fit(Xtrain_cvec)

TfidfTransformer()

In [14]:
Xtrain_tf  = tf.transform(Xtrain_cvec)

Importing the Alogorithim

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
mn = MultinomialNB()

Here training the model with training  data

In [17]:
mn.fit(Xtrain_tf, ytrain)

MultinomialNB()

Now getting the testing dataset

In [18]:
df2 = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\IMDB\\Test.csv")

In [19]:
df2

                                                   text  label
0     I always wrote this series off as being a comp...      0
1     1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2     This movie was so poorly written and directed ...      0
3     The most interesting thing about Miryang (Secr...      1
4     when i first read about "berlin am meer" i did...      0
...                                                 ...    ...
4995  This is the kind of picture John Lassiter woul...      1
4996  A MUST SEE! I saw WHIPPED at a press screening...      1
4997  NBC should be ashamed. I wouldn't allow my chi...      0
4998  This movie is a clumsy mishmash of various gho...      0
4999  Formula movie about the illegitimate son of a ...      0

[5000 rows x 2 columns]

Let's segregate the dataset in depedent and independent

In [20]:
Xtest = df2["text"]

In [21]:
ytest = df2["label"]

Let's transform the Xtest also

In [22]:
Xtest_cvec = cvec.transform(Xtest)

In [23]:
Xtest_tf =tf.transform(Xtest_cvec)

Now giving the test data to the model to test the score

In [24]:
mn.score(Xtest_tf,ytest)

0.867

## let's againg make the model with help of pipeline and findout score of the model

In [25]:
import pandas as pd
import numpy as np

In [26]:
dd  = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\IMDB\\Train.csv")

In [27]:
dd

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

In [28]:
XXtrain = dd["text"]

In [29]:
yytrain = dd["label"]

In [30]:
mm = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\IMDB\\Test.csv")

In [31]:
mm

                                                   text  label
0     I always wrote this series off as being a comp...      0
1     1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2     This movie was so poorly written and directed ...      0
3     The most interesting thing about Miryang (Secr...      1
4     when i first read about "berlin am meer" i did...      0
...                                                 ...    ...
4995  This is the kind of picture John Lassiter woul...      1
4996  A MUST SEE! I saw WHIPPED at a press screening...      1
4997  NBC should be ashamed. I wouldn't allow my chi...      0
4998  This movie is a clumsy mishmash of various gho...      0
4999  Formula movie about the illegitimate son of a ...      0

[5000 rows x 2 columns]

In [32]:
XXtest = mm["text"]

In [33]:
yytest = mm["label"]

In [34]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import MultinomialNB

In [35]:
pipe = make_pipeline(CountVectorizer() ,TfidfTransformer(),MultinomialNB() )

In [36]:
pipe

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('tfidftransformer', TfidfTransformer()),
                ('multinomialnb', MultinomialNB())])

In [37]:
pipe.fit(XXtrain,yytrain)

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('tfidftransformer', TfidfTransformer()),
                ('multinomialnb', MultinomialNB())])

In [38]:
pipe.score(XXtest,yytest)

0.867

## there is another way is also available

As we know that both the transformations, countvectorizer and tfidftransformer can be done with a single step i.e TfidfVectorizer

In [54]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import MultinomialNB

In [55]:
ma = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\IMDB\\Test.csv")

In [56]:
XXXXtest = mm["text"]

In [57]:
yyyytest = mm["label"]

In [58]:
mdl = make_pipeline(TfidfVectorizer(),MultinomialNB())

In [59]:
mdl.fit(XXXXtrain,yyyytrain )

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [60]:
mdl.score(XXXXtest,yyyytest)

0.867

In [61]:
pre = mdl.predict(["watching movies on big screen is a amazing experience"])

In [62]:
pre

array([1], dtype=int64)

In [63]:
s=pre[0]

In [67]:
ma.iloc[s]

text     1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...
label                                                    0
Name: 1, dtype: object